body { 
    color: #333; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}
main{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color:#333;
    font-family: "Tahoma";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #444;
}