*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex; 
  flex-direction: column;
}
main { 
    color: #333; 
    justify-content: center; 
    align-items: center; 
    background: #fff;
    min-height: 100vh; 
    font-family: 'Courier New', Courier, monospace;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
